body {
    background-color: black;
}
/* Left side */
.col-7 {
    background-color: #303030;
    border-radius: 10px 0px 0px 10px;
    height: 660px;
    padding-left: 150px;
    padding-right: 150px;
}
/* Right side */
.col-5 {
    border-radius: 0px 10px 10px 0px;
    padding: 0px;
    height: 660px;
}


h1 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-style: normal;
font-weight: normal;
font-size: 45px;
line-height: 61px;
letter-spacing: 2.8px;
position: top;
margin-top: 34px;
margin-bottom: 25px;
}


.login-container {
    height:100vh;
}

.form-check-label {
    color: #929699;
    ;
}

.links-login {
    color: white;
}


.input-user {
    margin-bottom: 20px;
    width: 330px;
    height: 52px;
    border-radius: 8px;

box-sizing: border-box;
border-radius: 8px;
background-color: #303030;

}

.input-pass {
    margin-top: 20px;
    width: 330px;
    height: 52px;
    border-radius: 8px;
box-sizing: border-box;
border-radius: 8px;
background-color: #303030;
}

.form-control {
    width: 330px;
    height: 52px;
    border-radius: 8px;
    border: 1px solid #8F8F8F;
box-sizing: border-box;
border-radius: 8px;
background-color: #303030;
}

.input-group-text {
    background-color: #303030;
    border-radius: 8px 0px 0px 8px;
    border: 1px solid #8F8F8F;
    width: 52px;
    height: 52px;

}

/* Separator line style */

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #fff;
  }
  
  .separator:not(:empty)::before {
    margin-right: .25em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .25em;
  }

  .social {
      margin: 24px;
  }

.img {
    height: 100%;
    width: 100%;
    border-radius: 0 10px 10px 0;
}

.login-button {
    background: linear-gradient(180deg, #7CD235 0%, #2BB34F 100%);
    border-radius: 8px;
    width: 100px;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
    margin-top: 32px;
}

.remember-me {
    margin-top: 42px;
    margin-bottom: 20px;
}
